# Define your password schemes here
# STR and NUM will be calculated as a function of input

# myScheme = "pass" + STR + NUM + "word"
myScheme=4 # number of parts
myScheme_1_def="pass"
myScheme_2_def="STR"
myScheme_2_func="toUpper"
myScheme_3_def="NUM"
myScheme_3_func="myFunction"
myScheme_4_def="word"
